* {
  user-select: none;
  margin: 0px;
  font-family: arial;
  color: white;
}

body {
  background-color: #0e0e0e;
}

#nextBtn {
  height: 10%;
  position: absolute;
  top: 50%;
  left: 95%;
  transform: translate(-50%, -50%);
}

#prevBtn {
  height: 10%;
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translate(-50%, -50%);
}

.container {
  padding-top: 20px;
  width: 80%;
  height: 45%;
  position: relative;
  margin: auto;
}

#slide {
  width: 100%;
  text-align: center;
  height: auto;
  border-radius: 12.5px;
  user-select: none;
}

ion-icon {
  color: white;
  font-size: 50px;
}

/*Header*/

.header {
  width: 100%;
  font-size: 20px;
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  align-items: center;
  height: 80px;
  position: relative;
  text-transform: uppercase;
}

#left {
  display: flex;
  margin-left: 40px;
  justify-content: space-between;
  grid-column-start: 1;
  grid-column-end: 2;
}

.logo img {
  transform: translateX(-0.78125%);
  width: 90px;
  height: auto;
}

#right {
  margin-right: 40px;
  display: flex;
  justify-content: space-between;
  grid-column-start: 3;
  grid-column-end: 4;
}

.logo {
  display: flex;
  justify-content: center;
  grid-column-start: 2;
  grid-column-end: 3;
}

.burger {
  display: none;
  font-size: 50px;
  grid-column-start: 3;
  grid-column-end: 4;
  margin-right: 40px;
}

/*Mobile Optimization*/

@media screen and (max-width: 1000px) {
  #left, #right {
    display: none;
  }

  .burger {
    display: flex;
    justify-content: flex-end;
  }
}

/*End of Mobile Optimization*/

/*End of header*/
