* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  user-select: nsone;
}

body {
  background: #00c3ff;
  transition: 0.6 linear;
}

.product-card {
  width: 400px;
  background: white;
  padding: 40px;
  text-transform: uppercase;
  margin: 20px;
}

.product-card h1 {
  font-size:22px;
  margin-bottom: 4px;
}

.product-card p{
  font-size: 13px;
}

.product-pic{
  width: 90%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.product-info {
  display: flex;
  align-items: center;
}

.product-price {
  font-size: 26px;
}

.price-add-to-cart {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.product-button {
  width: 153px;
  text-decoration: none;
  border: 2px solid;
  padding: 8px 24px;
  border-radius: 20px;
  transition: .4s linear;
}

.product-button:hover {
  transform: scale(1.06);
}

.cart-count ion-icon {
  font-size: 50px;
}

.cart-count {
  font-size: 45px;
  display: flex;
  flex-direction: row;
  padding: 20px;
  padding-right: 55px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
