* {
  transition: 0.3s;
  font-family: arial;
  color: white;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #0e0e0e;
}

.register {
  padding-bottom: 20px;
  padding-top: 20px;
  background-color: rgba(232, 232, 232, 0.25);
  width: 500px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

h1 {
  margin-bottom: 20px;
}

.form {
  height: 50px;
  width: 314px;
  position: relative;
  background: none;
  overflow: hidden;
  margin-bottom: 20px;
  background-color: #0e0e0e;
  border: 2px solid #818384;
  border-radius: 4px;
}

.form input {
  width: 100%;
  margin-left: 20px;
  height: 100%;
  background: none;
  padding-top: 20px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
}

.form label {
  position: absolute;
  bottom: 20%;
  left: 20px;
  width: 100%;
  height: 100%;
  font-size: 16px;
  pointer-events: none;
}

.form label::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -1px;
  height: 100%;
  width: 100%;
  transition: all 0.3 ease;
}

.content-name {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}

.form input:focus + .label-name .content-name,
.form input:valid + .label-name .content-name {
  font-size: 11px;
  transform: translateY(-100%);
}

.submit {
  background: none;
  width: 200px;
  padding: 10px;
  background-color: #0e0e0e;
  border: 2px solid #818384;
  border-radius: 4px;
}
/*Header*/
.header {
  width: 100%;
  font-size: 20px;
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  align-items: center;
  height: 80px;
  position: relative;
  text-transform: uppercase;
}

#left {
  display: flex;
  margin-left: 40px;
  justify-content: space-between;
  grid-column-start: 1;
  grid-column-end: 2;
}

.logo img {
  transform: translateX(-0.78125%);
  width: 90px;
  height: auto;
}

#right {
  margin-right: 40px;
  display: flex;
  justify-content: space-between;
  grid-column-start: 3;
  grid-column-end: 4;
}

.logo {
  display: flex;
  justify-content: center;
  grid-column-start: 2;
  grid-column-end: 3;
}

.burger {
  display: none;
  font-size: 50px;
  grid-column-start: 3;
  grid-column-end: 4;
  margin-right: 40px;
}

/*Mobile Optimization*/

@media screen and (max-width: 4000px) {
  #left, #right {
    display: none;
  }

  .burger {
    display: flex;
    justify-content: flex-end;
  }
}

/*End of Mobile Optimization*/

/*End of header*/
.verification input {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.verification {
  width: 314px;
  display: flex;
  margin-bottom: 20px;
  justify-content: flex-start;
  font-size: 20px;
}
