.headerBar {
  width: 100%;
  height: 90px;
}

body {
  background-color: #0f1110;
}

.button {
  color: white;
  background-color: #0f1110;
  border-radius: 10px;
  height: 40px;
  width: 90px;
  font-size: 25px;
  border: 2px solid grey;
  outline: none;
  top:0;
  left:0
}

p {
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
  font-family: 'Roboto';
}

.img {
  height: 45px;
  width: auto;
  padding-top: 15px;
}

.headerBar {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.mainHeader {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  position: relative;
}

a {
  text-decoration: none;
}

#nextBtn {
  height: 10%;
  position: absolute;
  top: 50%;
  left: 95%;
  transform: translate(-50%, -50%);
}

#prevBtn {
  height: 10%;
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translate(-50%, -50%);
}

.container {
  padding-top: 20px;
  width: 80%;
  position: relative;
  margin: auto;
}

#slide {
  width: 100%;
  text-align: center;
  height: auto;
  border-radius: 12.5px;
  user-select: none;
}

ion-icon {
  color: white;
  font-size: 50px;
}
