.Contact {
  display: flex;
  height: 87.5vh;
  overflow-y: scroll;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  .contactSection {
    width: 100%;
    height: 45rem;
    padding: 2.5rem;
    margin-top: 4rem;
    max-width: 1000px;
    margin-left: 10vh;
    margin-right: 10vh;
    border-radius: 1rem;
    border: 2px solid white;
    .mainContact {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}

.contributersSection {
  display: flex;
  justify-content: center;
  flex-direction: column;
  .contributer {
    display: flex;
    flex-wrap: wrap;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top: 2px solid white;
    justify-content: space-between;
  }
}

.contactHeading {color: white;text-align: center}

.gitHub, .twitter, .discord, .reddit, .instagram {
  width: 14rem;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  color: white;
  border: 2px solid;
  align-items: center;
  border-radius: 0.5rem;
  .icon {font-size: 1.85rem}
  .link {color: white;margin-left: 0.5rem;text-decoration: none}
}

.gitHub {border-color: #484f58;background-color: #484f58}
.twitter {border-color: rgba(29,161,242,1.00);background-color: rgba(29,161,242,1.00)}
.discord {border-color: #7289da;background-color: #7289da}
.reddit {border-color: #FF4500;background-color: #FF4500}
.instagram {border-color: white;background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%)}