@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  background-color: #0e0e0e;
}

::-webkit-scrollbar {width: 0.6vh}
::-webkit-scrollbar-track {background: none;}
::-webkit-scrollbar-thumb {background: white;border-radius: 0.4vh}


@import './header.scss';
@import './body.scss';
@import './faq.scss';
@import './shop.scss';
@import './safety.scss';
@import './contact.scss'